<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>新增用户-X-admin2.2</title>
        <header th:replace="header::html"></header>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                  <div class="layui-form-item">
                      <label for="username" class="layui-form-label">
                          <span class="x-red">*</span>登录名
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="username" name="username" required="" lay-verify="required"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>将会成为您唯一的登入名
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="phone" class="layui-form-label">
                          <span class="x-red">*</span>手机
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="phone" name="phone" required="" lay-verify="phone"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>将会成为您唯一的登入名
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">
                          <span class="x-red">*</span>邮箱
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="L_email" name="email" value="1130001@qq.com" required="" lay-verify="email"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>
                      </div>
                  </div>
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>生日
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_birthday" name="birthdy" required="" lay-verify="birthday" placeholder="yyyy-MM-dd"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>
                        </div>
                    </div>
                  <div class="layui-form-item">
                      <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                      <div class="layui-input-block">
                       <!-- <input type="radio" name="like1[write]" lay-skin="primary" title="超级管理员" checked="">
                        <input type="radio" name="like1[write]" lay-skin="primary" title="编辑人员">
                        <input type="radio" name="like1[write]" lay-skin="primary" title="宣传人员">-->
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_pass" class="layui-form-label">
                          <span class="x-red">*</span>密码
                      </label>
                      <div class="layui-input-inline">
                          <input type="password" id="L_pass" name="password" required="" lay-verify="pass"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          6到16个字符
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                          <span class="x-red">*</span>确认密码
                      </label>
                      <div class="layui-input-inline">
                          <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                          autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="add" lay-submit="">
                          增加
                      </button>
                  </div>
              </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer','laydate'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                    laydate = layui.laydate,
                layer = layui.layer;
                //获取所有角色集合
                getAll_role(function () {
                    layui.form.render('radio')
                });
                //日期
               /* laydate.render({
                    elem:'#L_birthday'
                    ,format:'yyyy-MM-dd'
                });*/
                //自定义验证规则
                form.verify({
                    username: function(value) {
                        if (value.length < 5) {
                            return '昵称至少得5个字符啊';
                        }
                    },
                    birthday:function(value){
                        if($('#L_birthday').val()==null || $('#L_birthday').val()==undefined){
                            return '填写生日';
                        }
                    },
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(add)',
                function(data) {
                    var roleRadio = $("[name=roleId]:checked");
                    if(undefined==roleRadio || roleRadio.length <=0)
                    {
                        layer.alert("请给该用户设置角色");
                        return  false;
                    }
                    data.field.roleId = roleRadio.val();
                    console.log(data);
                    $.ajax({
                        url:"/user/addSave",
                        type:'POST',
                        data:data.field,
                        dataType:'json',
                        success:function(result){
                            console.log(result)
                           var code = result.code;
                           if(code==500 || code==5000100 || code ==5000101 || code ==5000102 ){
                               layer.alert(result.msg);
                           }else{
                               layer.alert("增加成功", {icon: 6},function() {
                                   //关闭当前frame
                                   xadmin.close();
                                   // 可以对父窗口进行刷新
                                   xadmin.father_reload();
                               });
                           }
                        }
                    });
                    return  false;
                });

            });
         function getAll_role(callback) {
             $.ajax({
                 url:"/role/all",
                 type:'GET',
                 dataType:'json',
                 success:function(result){
                     var html ='';
                     if(result.data!=null && result.data.length>0){
                         for (i in result.data){
                             html += '<input type="radio" name="roleId" lay-skin="primary" value="'+result.data[i].id+'" title="'+result.data[i].describes+'"/>'
                         }
                         $('.layui-input-block').html(html);
                         callback();
                     }
                 }
             })
         }
        </script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>
