<!doctype html>
<html  class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin2.2</title>
    <header th:replace="header::html"></header>
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">x-admin2.0-管理登录</div>
        <div id="darkbannerwrap"></div>
        <!--action="/login"-->
        <form method="post"  id="login_form" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function() {
            layui.use('form', function(){
              var form = layui.form;
              //监听提交
              form.on('submit(login)', function(data){
                // alert(888)
                  $.ajax({
                     type:'POST',
                     url:'/login',
                     data:$("#login_form").serialize(),
                      success:function (datas) {
                         console.log(datas)
                          if(datas.authenticated == true){
                              localStorage.setItem("userId",datas.principal.id);
                              localStorage.setItem("nickName",datas.principal.username);

                              var authorities = datas.authorities;
                              var permission = [];
                              for(var i in authorities){
                                  permission.push(authorities[i].authority);
                              }
                              localStorage.setItem("permission",permission);
                              layer.msg("登陆成功",{time:500},function(){
                                  location.href='/'
                              });
                          }else{
                              layer.msg("登录异常,请联系管理员");
                          }
                      },
                      error: function(xhr){
                         var msg = xhr.responseText;
                         var response = JSON.parse(msg);
                         layer.msg(response.message);

                      }
                  });

                return false;
              });
            });
        })
    </script>
    <!-- 底部结束 -->
</body>
</html>